body {
  padding: 2.5%;
  background: #EEE;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
}

.wrapper {
  padding: 0 10%;
  margin: 0 auto;
  text-align: center;
}
.wrapper .title {
  margin-bottom: 5%;
}

.signature {
  /*float: left;*/
  width: 100%;
  padding: 5% 10%;
  display: inline-block;
  background: #FFF;
  text-align: center;
}


.btn-container {
  /*float: left;*/
  /*width: 400px;*/
  display: inline-block;
  padding: 2.5% 5%;
}

label {
  margin-right: 20px;
}

input {
  width: 85%;
  margin-bottom: 2.5%;
  padding: 4% 3.5%;
  border: 1px solid #CCC;
}

input.short {
  width:60%;
}

select {
  margin-bottom: 2.5%;
  padding: 4% 3.5%;
  border: 1px solid #CCC;
}

.logo {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #00A0FF;
}

.button {
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #555555;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
}

.button:hover {
    transition: all 150ms linear;
    opacity: .85;
  }

.btn-home {
    margin-left: 10px;
    background-color: #3dd28d;
}

a, a:hover{
  text-decoration: none;
  color: white;
}

hr.style2 {
  border-top: 3px double #8c8b8b;
}